#hamburger__menu
    div(onclick="document.getElementById('hamburger__menu').style.display='none'" class="hamburger-close")
    ul.menu__list
        -
            var menulink = [
                ['Мои работы', 'my-works.html'],
                ['Обо мне', 'about.html'],
                ['Блог', 'blog.html'],
                ['Авторизация', 'index.html']
            ]
        each item in menulink
            li.menu__item
                a(href=`${item[1]}`).menu__link #{item[0]}
