- var copy = '© Гильфанов Ильнур | создано с любовью в Yandex | 2017'
- var avatar_img = '/ls-pro/build/assets/images/avatar.png'
- var header_img = '/ls-pro/build/assets/images/portfolio_header.svg'
- var blogHeader_img = '/ls-pro/build/assets/images/blog_header.svg'
- var userName = 'Гильфанов Ильнур'
- var userInfo = 'Личный сайт разработчика'
block variables

doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=device-width, initial-scale=1"  name="viewport")
        mate(content="ie=edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet" href="/ls-pro/build/assets/styles/app.min.css")
        
    body
        block content