.main-header {
    width: 100%;
    background: rgba($color:#016672, $alpha: 0.3) url("../images/photoBG.png") no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-header_hight {
    height: 100vh;
    background-blend-mode: soft-light;
}

.blog-header_hight {
    height: 400px;
    background-blend-mode: soft-light;
}

.work-header_hight {
    height: 600px;
    background-blend-mode: soft-light;
}

.index-header_hight {
    height: 100vh;
}


.main-header__socials {
    position: absolute;
    top: 30px;
    left: 30px;
}

.socials {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        margin-right: 25px;
        opacity: 0.5;
        a{
            display: block;
            width: 30px;
            height: 23px;
        }
    }
    li:hover {
        opacity: 1;
    }
    .socials__item_vk {
        background: url("../images/vk.svg") no-repeat center;
    }
    
    .socials__item_git {
        background: url("../images/github.svg") no-repeat center;
    }
    
    .socials__item_in {
        background: url("../images/in.svg") no-repeat center;
    }
}

.main-header__menu {
    position: absolute;
    right: 25px;
    top: 25px;
    .hamburger {
        width: 40px;
        height: 38px;
        background: url("../images/hamburger.svg") no-repeat center;
    }
}

.main-header__title {
    position: absolute;
    margin: auto;
    .section-title__pic {
        opacity: 0.15;
        max-width: 100%;
    }
}

.blog-header_title {
    .section-title {
        margin-top: 190px;
    }
}


.main-header__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: white;

    .user__pic { 
        width: 144px;
        height: 144px;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 30px;
        overflow: hidden;
        .user__img{
            width: 146px;
            margin-top: -10px;
        }
    }
    .user__description {
        .user__name {
            font-size: 35px;
        }
        .user__info {
            font-size: 16px;
        }
        .block-subtitle {
            font-size: 63px;
        }
    }
}

.main-header__scroll-btn {
    position: absolute;
    bottom: 60px;
    left: 50%;
    margin-left: -12px;
    z-index: 5;
    .arrow-down {
        border: none;
        background: url("../images/arrow_down.svg") no-repeat;
        width: 25px;
        height: 16px;
        opacity: 0.5;
    }
    .arrow-down:hover {
        opacity: 1;
    }
}

.blog-header_btn {
    display: none;
}

.main-header__triangle {
    width: 100%;
    position: absolute;
    bottom: -4px;
}

.about-header_triangle {
    .triangle_left_white {
        fill: #efeee9;
    }
    .triangle_right_beige {
        fill: #eeebdf;
    }
}

.blog-header_triangle {
    .triangle_left_white {
        fill: #fff;
    }
    .triangle_right_beige {
        fill: #fff;
    }
}

.work-header_triangle {
    .triangle_left_white {
        fill: #FBF8F1;
    }
    .triangle_right_beige {
        fill: #FBF8F1;
    }
}